
body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: #333;
}
h1, h2, h3 {
    color: #915F6D;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
.content {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #CF9FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
a{
color:#FFcc00;
}
.card {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #915F6D;
    color: white;
}


.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

